.protokol {
    width: 80%;
    height: auto;
    text-align: center;
    margin: 60px auto;
}

.protokol img{
    object-fit: cover;
    overflow: hidden;
    width: 180px;
    height: 50px;
}

.protokol p {
    text-align: center;
    margin: 0 0 20px 0;
}

.protokol-body{
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #FFB740;
    ;
}

.protokol-group {
    width: 35%;
    height: auto;
    display: block;
    margin: 10px 0;
}

.protokol-group img {
    width: 80%;
    height: auto;
}

.protokol-group p{
    text-align: center;
    margin: 0;
}

.penutup{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.penutup p{
    margin-bottom: 30px;
}