.invitation1{
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.title{
    text-align: center;
}

.cover {
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

.cover .upacara{
    font-size: 18px;
    margin-top: 30px;
}

.cover h1{
    margin-top: 50px;
}

.cover h2{
    margin-top: 50px;
}

.cover .dates{
    margin-top: 50px;
    font-size: 20px;
}

.cover h3{
    margin: 0;
    font-size: 35px;
}

.nama{
    width: 100%;
    margin: 40px auto;
}

.nama p{
    text-align: justify;
}

.nama h2{
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

.detail-event{
    width: 100%;
    height: auto;
    text-align: center;
}

.detail-event button{
    width: 200px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}