.invitation1{
    width: 100%;
    overflow: hidden;
    height: auto;
    margin: 0 auto;
    background-color: #313131;
    color: #FFB740;
}

h1{
    margin: 0;
}

.title{
    text-align: center;
    font-family: 'Ephesis', cursive;
    font-size: 40px;
    margin-top: -15px;
    margin-bottom: 20px;
}

.invitation1 p {
    margin: 0;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    background-color: #313131;
    z-index: 10;
    transform: translateY(0);
    transition: all 1s ease;
    overflow: hidden;
    height: 100vh;
}

.cover.active{
    transform: translateY(-2000px);
    transition: all 1s ease;
}

.cover-frame{
    position: relative;
    width: 100%;
    height: 100%;
}

.left-top{
    position: absolute;
    left: -100px;
    top: -56px;
}

.left-bottom{
    position: absolute;
    left: -87px;
    bottom: 63px;
    transform: rotate(270deg);
}

.right-top{
    position: absolute;
    right: -90px;
    top: -73px;
    transform: rotate(90deg);
}

.right-bottom{
    position: absolute;
    right: -100px;
    bottom: 76px;
    transform: rotate(180deg);
}

.cover-body {
    position: absolute;
    top: 183px;
    left: 20px;
    right: 20px;
}

.cover .upacara{
    font-family: 'Ephesis', cursive;
    font-size: 35px;
    margin-top: 35px;
}

.cover h1{
    font-family: 'Ephesis', cursive;
    font-size: 50px;
}

.cover h2{
    margin-top: 50px;
}

.cover .dates{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}

.cover h3{
    margin-top: 10px;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
}

.cover .button {
    display: block;
    height: 350px;
    width: 100%;
    border-radius: 50%;
    border: none;
    background-color: #444444;
    position: absolute;
    bottom: -200px;
    padding-top: 30px ;
    font-size: 20px;
}

.cover i {
    font-size: 40px;
}

@media only screen 
and (max-device-width: 428px) 
and (max-device-height: 926px) { 
    .cover-body {
        top: 244px;
    }

    .left-top{
        top: 0;
    }
    
    .left-bottom{
        bottom: 155px;
    }
    
    .right-top{
        top: -17px;
    }
    
    .right-bottom{
        bottom: 178px;
    }
}

@media only screen 
and (max-device-width: 414px) 
and (max-device-height: 896px) { 
    .cover-body {
        top: 200px;
    }

    .left-top{
        top: -50px;
    }
    
    .left-bottom{
        bottom: 155px;
    }
    
    .right-top{
        top: -67px;
    }
    
    .right-bottom{
        bottom: 178px;
    }
}

@media only screen 
and (max-device-width: 414px) 
and (max-device-height: 736px) { 
    .cover-body {
        top: 138px;
    }

    .left-top{
        top: -50px;
    }
    
    .left-bottom{
        bottom: 125px;
    }
    
    .right-top{
        top: -67px;
    }
    
    .right-bottom{
        bottom: 148px;
    }
}

@media only screen 
and (max-device-width: 411px) 
and (max-device-height: 823px) { 
    .cover-body {
        top: 180px;
    }
}

@media only screen 
and (max-device-width: 411px) 
and (max-device-height: 731px) { 
    .cover-body {
        top: 136px;
    }

    .left-top{
        top: -40px;
    }
    
    .left-bottom{
        bottom: 125px;
    }
    
    .right-top{
        top: -57px;
    }
    
    .right-bottom{
        bottom: 148px;
    }
}

@media only screen 
and (max-device-width: 390px) 
and (max-device-height: 844px) { 
    .cover-body {
        top: 200px;
    }
}

@media only screen 
and (max-device-width: 375px) 
and (max-device-height: 812px) { 
    .cover-body {
        top: 184px;
    }
}

@media only screen 
and (max-device-width: 375px) 
and (max-device-height: 667px) { 
    .cover-body {
        top: 110px;
    }

    .left-top{
        top: -80px;
    }
    
    .left-bottom{
        bottom: 75px;
    }
    
    .right-top{
        top: -97px;
    }
    
    .right-bottom{
        bottom: 88px;
    }
}

@media only screen 
and (max-device-width: 360px) 
and (max-device-height: 502px) { 
    .cover-body {
        top: 50px;
    }

    .left-top{
        display: none;
    }
    
    .left-bottom{
        display: none;
    }
    
    .right-top{
        display: none;
    }
    
    .right-bottom{
        display: none;
    }

    .cover .button {
        bottom: -230px;
    }
}

@media only screen 
and (max-device-width: 320px) { 
    .cover-body {
        top: 40px;
    }

    .left-top{
        display: none;
    }
    
    .left-bottom{
        display: none;
    }
    
    .right-top{
        display: none;
    }
    
    .right-bottom{
        display: none;
    }
}

.pembukaan{
    width: 80%;
    padding-top: 60px;
    margin: 0 auto;
    text-align: center;
}

.pembukaan-image{
    width: 300px;
    margin: 0 auto;
}

.pembukaan img{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100px;
    margin-left: 5px;
}

.pembukaan h1{
    margin-bottom: 20px;
}

.pembukaan p {
    text-align: center;
}

.nama{
    width: 80%;
    margin: 200px auto;
    text-align: center;
}

.nama img{
    object-fit: cover;
    overflow: hidden;
    width: 180px;
    height: 50px;
}

.nama h2{
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    font-style: normal;
    font-family: 'Playfair Display', serif;
}

.btn-extend{
    position: fixed;
    display: flex;
    right: 10px;
    bottom: 20px;
}

.btn-group{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    border-radius: 50%;
}