.detail-event{
    width: 80%;
    height: auto;
    text-align: center;
    margin: 100px auto;
}

.detail-event img{
    object-fit: cover;
    overflow: hidden;
    width: 180px;
    height: 50px;
}

.detail-event p {
    font-size: 18px;
    margin-bottom: 5px;
}

.detail-body{
    width: 100%;
    border: 1px solid #FFB740;
    border-radius: 20px;
    background-color: transparent;
    padding: 10px 0 20px 0;
}

.detail-event button{
    width: 200px;
    height: 40px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: 1px solid #FFB740;
    background-color: #FFB740;
    border-radius: 20px;
    color: #313131;
}

.detail-time{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.detail-group{
    width: 60px;
    height: 60px;
    border: 1px solid #FFB740;
}