.detail-event{
    width: 80%;
    height: auto;
    text-align: center;
    margin: 200px auto;
}

.detail-event img{
    object-fit: cover;
    overflow: hidden;
    width: 180px;
    height: 50px;
}

.detail-event p {
    font-size: 18px;
    margin-bottom: 5px;
}

.detail-body{
    width: 100%;
    border: 1px solid #FFB740;
    border-radius: 20px;
    background-color: transparent;
    padding: 10px 0 20px 0;
}

.detail-event button{
    width: 200px;
    height: 40px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: 1px solid #FFB740;
    background-color: #FFB740;
    border-radius: 20px;
    color: #313131;
}

.detail-time{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.detail-group {
    width: 60px;
    height: 60px;
    border: 1px solid #FFB740;

}

.detail-group h1 {
    font-size: 30px;
    margin-top: 2px;
}

.detail-group p {
    font-size: 12px;
}

/* .detail-group{
    width: 200px;
    height: 200px;
    border: 1px solid #FFB740;
}

.detail-group h1 {
    font-size: 100px;
    margin-top: 10px;
}

.detail-group p {
    font-size: 30px;
} */

.detail-event a {
    text-decoration: none;
}

@media only screen 
and (max-device-width: 428px) {
    .detail-group {
        width: 60px;
        height: 60px;
    }

    .detail-group h1 {
        font-size: 30px;
        margin-top: 2px;
    }

    .detail-group p {
        font-size: 12px;
    }
}

@media only screen 
and (max-device-width: 414px) 
and (max-device-height: 736px) {
    .detail-group {
        width: 60px;
        height: 60px;
    }

    .detail-group h1 {
        font-size: 30px;
        margin-top: 2px;
    }

    .detail-group p {
        font-size: 12px;
    }
}