.feature {
    width: 90%;
    height: auto;
    margin: 40px auto;
}

.feature-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-box {
    width: 400px;
    height: 400px;
    background-color: grey;
    border-radius: 10px;
    margin: 20px;
}