.product {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.product.active{
    display: flex;
    
}

.product-list{
    display: flex;
    justify-content: space-between;
}

.product-list.active {
    display: block;
}

.product-group {
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.product .invitation{
    display: none;
}

.product .invitation.active{
    display: block;
}

.product-preview{
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: right;
}

.product i{
    text-align: right;
    font-size: 30px;
}

/* .widht-phone{
    width: 100px;
} */