.hero{
    width: 100%;
    height: auto;
    position: relative;
}

.hero-body{
    width: 100%;
    height: 70vh;
}

.hero .owl-nav{
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    top: 250px;
    left: 30px;
    color: white;
    font-size: 40px;
}